h1 {
    text-align: center;
    color: blue;
    font-family:verdana
    }
   
    p {
    text-align: center;
    color: red;
    font-family:fantasy
}

table {
  width: 100%;
}

th {
  height: 50px;
}

ol {
  background: #ff9999;
  padding: 20px;
}